/* CSS DEFAULTS */
*,
::after,
::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	width: 100%;
}
:root {
	/* ### Primary */
	--primary-blue: hsl(243, 87%, 12%);
	--primary-light-blue: hsl(238, 22%, 44%);
	/* ### Accent */
	--accent-blue: hsl(224, 93%, 58%);
	--accent-cyan: hsl(170, 45%, 43%);
	/* ### Neutral */
	--neutral-grayish-blue: hsl(240, 75%, 98%);
	--neutral-gray: hsl(0, 0%, 75%);
}
html {
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
}
nav,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Raleway", sans-serif;
}
body {
	color: var(--primary-blue);
	background: #fff;
	overflow-x: hidden;
}

/* MAIN CSS - navbar */
.wrapper {
	margin: 0 auto;
	padding: 0 2rem;
}

.navbar {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	margin: 1.5rem 0 5rem 0;
}

.logo-cont {
	width: 80px;
}

.navbar-links {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	font-size: 0.85rem;
}

.navbar-link {
	margin-left: 2rem;
	cursor: pointer;
}

article > h1 {
	font-size: 1.65rem;
}

.section-intro-desc {
	text-align: center;
}
